.benefits__items {
  display: grid;
  grid-template-columns: 178px 212px 162px 212px;
  grid-template-rows: 176px;
  column-gap: 136px;
}

@media screen and (min-width: 1439px) and (max-width: 1999px) {
  .benefits__items {
    grid-template-columns: 184px 166px 140px 142px;
    grid-template-rows: 134px;
    column-gap: 80px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .benefits__items {
    grid-template-columns: 126px 146px 116px 126px;
    grid-template-rows: 128px;
    column-gap: 64px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .benefits__items {
    grid-template-columns: 160px 186px;
    grid-template-rows: repeat(2, 128px);
    column-gap: 68px;
    row-gap: 36px;
  }
}

@media screen and (min-width: 743px) and (max-width: 1023px) {
  .benefits__items {
    grid-template-columns: 106px 130px;
    grid-template-rows: repeat(2, 122px);
    column-gap: 54px;
    row-gap: 36px;
  }
}

@media screen and (min-width: 427px) and (max-width: 743px) {
  .benefits__items {
    grid-template-columns: 146px 158px;
    grid-template-rows: repeat(2, 122px);
    column-gap: 48px;
    row-gap: 30px;
    margin: 36px 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .benefits__items {
    grid-template-columns: 106px 128px;
    grid-template-rows: repeat(2, 122px);
    column-gap: 54px;
    row-gap: 30px;
    margin: 18px 0 0;
  }
}
