.special__call-number a {
  color: #333233;
  text-decoration: none;
}

.special__call-number {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #333233;
  margin: 0 0 0 24px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.special__call-number:hover {
  opacity: .8;
}

@media screen and (min-width: 1279px) and (max-width: 1999px) {
  .special__call-number {
    cursor: pointer;
    transition: .3s;
  }

  .special__call-number:hover {
    opacity: .8;
  }
}


@media screen and (min-width: 1023px) and (max-width: 1999px) {
  .special__call-number {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 0 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .special__call-number {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 0 12px;
  }
}
