.about {
  display: flex;
  justify-content: space-between;
  width: 1825px;
  margin: 240px auto 0;
  align-items: center;
}


@media screen and (min-width: 1439px) and (max-width: 1999px) {
  .about {
    width: 1320px;
    margin: 180px auto 0;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .about {
    width: 1160px;
    margin: 180px auto 0;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .about {
    width: 904px;
    margin: 180px auto 0;
  }
}

@media screen and (min-width: 743px) and (max-width: 1023px) {
  .about {
    width: 624px;
    margin: 180px auto 80px;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 427px) and (max-width: 743px) {
  .about {
    width: 348px;
    margin: 120px auto 60px;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .about {
    width: 288px;
    margin: 90px auto 0;
    flex-direction: column-reverse;
  }
}
