.about__paragraph {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */


  color: #333233;
  margin: 12px 0 0 0;
  max-width: 1026px;
}

@media screen and (min-width: 1439px) and (max-width: 1999px) {
  .about__paragraph {
    font-size: 20px;
    line-height: 28px;
    max-width: 762px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1999px) {
  .about__paragraph {
    font-size: 16px;
    line-height: 24px;
    max-width: 688px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .about__paragraph {
    font-size: 16px;
    line-height: 24px;
    max-width: 462px;
  }
}

@media screen and (min-width: 743px) and (max-width: 1023px) {
  .about__paragraph {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 743px) {
  .about__paragraph {
    font-size: 14px;
    line-height: 22px;
    max-width: 100%;
  }
}
